@charset "UTF-8";

body
{
	margin: 0;
	padding: 0;

	background-color: #EEE;
}

/* ===== Header ===== */
#headBar
{
	width: 100%;
	height: 126px;

	background-color: #101b28;
	background-image: url("UI/BlueRadialHeaderBG.png");
	background-repeat: no-repeat;
	background-position: center top;
}

#headerLogo
{
	position: relative;
	top: 0;
	left: 28%;
}

/* ===== Navigation Bar ===== */
#navBar
{
	width: 100%;
	height: 27px;

	background-image: url("UI/Navbar.png");
	background-repeat: repeat-x;
}

/* ===== Body ===== */
#bodyWrapper
{
	position: relative;
	width: 50%;
	min-height: 100vh;

	margin: 20px auto 0 auto;

	box-shadow: 0 0 32px 0 #CCC;
	z-index: -1;
}

#content
{
	background-color: #FFF;
	background-image: url("UI/PlaneStencil.png");
	background-position: top right;
	background-repeat: no-repeat;

	color: #777;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1, h2
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	margin: 0;
}

#content h1
{
	padding: 20px;
}

#content h2
{
	padding: 20px 20%;
	font-size: 2em;
	text-align: center;
	color: #AAA;
}

#content p
{
	margin: 0 auto;
	padding: 20px;
	width: 65%;

	text-align: justify;
}

.rightJustify
{
	direction: rtl;
	text-align: justify;
}

.fullBodyPromoImage
{
	width: 100%;
}

.infoBox
{
	width: 65%;
	margin: 20px auto;
	background-color: #EFEFEF;
	text-align: center;

	border: 2px solid #CCC;
	border-radius: 10px;
}

.infoBox h3
{
	font-weight: bold;
	color: #999;
	margin: 0;
	padding: 20px;
	padding-bottom: 0;
}

.lumpyButton
{
	height: 40px;
	padding: 0 50px;
	border: none;
	margin: 20px;

	background-image: url("UI/LumpyButton1px.png");
	background-repeat: repeat-x;

	color: #FFF;
	font-size: 16px;
	font-weight: bold;

	box-shadow: 5px 5px 10px 0 #CCC;
}

/* ===== Footer ===== */
#footer
{
	width: 100%;
	height: 250px;
	margin: 0;

	background-color: #F9F9F9;
}