@charset "UTF-8";

body
{
	margin: 0;
	padding: 0;

	background-color: #EEE;
}

#headBar
{
	width: 100%;
	height: 126px;

	background-color: #101b28;
	background-image: url("UI/BlueRadialHeaderBG.png");
	background-repeat: no-repeat;
	background-position: center top;
}

#headerLogo
{
	position: relative;
	top: 0;
	left: 28%;
}

#navBar
{
	width: 100%;
	height: 27px;

	background-image: url("UI/Navbar.png");
	background-repeat: repeat-x;
}

#bodyWrapper
{
	position: relative;
	width: 50%;
	min-height: 100vh;

	margin: 20px auto 0 auto;

	box-shadow: 0 0 32px 0 #CCC;
	z-index: -1;
}

#content
{
	background-color: #FFF;
	background-image: url("UI/PlaneStencil.png");
	background-position: top right;
	background-repeat: no-repeat;

	color: #777;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#content h1
{
	margin: 0;
	padding: 20px;

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#content p
{
	margin: 0;
	padding: 20px;
	width: 65%;

	text-align: justify;
}

.fullBodyPromoImage
{
	width: 100%;

	margin: 20px 0 20px 0;
}

#footer
{
	width: 100%;
	height: 250px;
	margin: 0;

	background-color: #F9F9F9;
}