@charset "UTF-8";

body
{
	margin: 0;
	padding: 0;

	background-color: #EEE;
}

/* ===== Header ===== */
#headBar
{
	width: 100%;
	height: 126px;

	background-color: #101b28;
	background-image: url("UI/BlueRadialHeaderBG.png");
	background-repeat: no-repeat;
	background-position: center top;
}

#headerLogo
{
	position: relative;
	top: 0;
	left: 28%;
}

/* ===== Navigation Bar ===== */
#navBar
{
	width: 100%;
	height: 27px;

	background-image: url("UI/Navbar.png");
	background-repeat: repeat-x;
}

#navBar ul
{
	list-style-type: none;
	margin: 0;
	padding: 0 24%;
}

#navBar li
{
	float: left;
}

#navBar a
{
	display: block;
	padding: 0;
	padding-top:3px;
	margin: 0;
	width: 138px;
	height: 24px;

	background-image: url("UI/NavbarButton.png");
	background-position: top;

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;

	text-shadow: 0px 1px 1px #F0F0F0;
	color: #888;
}

#navBar a:hover
{
	background-position: center;
	text-shadow: 0px 1px 1px #444;
	color: #DDD;
}

#navBar a:active
{
	background-position: bottom;
}

/* ===== Body ===== */
#bodyWrapper
{
	position: relative;
	width: 980px;
	min-height: 100vh;

	margin: 20px auto 0 auto;

	background-color: #FFF;
	box-shadow: 0 0 32px 0 #CCC;
}

#content
{
	min-height: 80vh;

	background-color: #FFF;
	background-image: url("UI/PlaneStencil.png");
	background-position: top right;
	background-repeat: no-repeat;

	color: #777;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1, h2
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	margin: 0;
}

#content h1
{
	padding: 20px;
}

#content h2
{
	padding: 20px 10%;
	font-size: 2em;
	color: #AAA;
}

.centerHeading
{
	padding: 20px 20% !important;
	text-align: center;
}

#content p
{
	margin: 0 auto;
	padding: 20px;
	width: 65%;

	text-align: justify;
}

.fullBodyPromoImage
{
	width: 100%;
	margin: 0;
}

.fullWidthContainer
{
	margin: 0;
	padding: 60px;
	background-color: #F9F9F9;
}

.infoBox
{
	width: 65%;
	margin: 20px auto;
	background-color: #EFEFEF;
	text-align: center;

	border: 2px solid #CCC;
	border-radius: 10px;
}

.infoBox h3
{
	font-weight: bold;
	color: #999;
	margin: 0;
	padding: 20px;
}

.lumpyButton
{
	height: 40px;
	padding: 0 50px;
	border: none;
	margin: 20px;

	background-image: url("UI/LumpyButton1px.png");
	background-repeat: repeat-x;

	color: #FFF;
	font-size: 16px;
	font-weight: bold;

	/* 3D Extrusion */
	text-shadow: 0px 1px 0px #888, 0px 2px 0px #777, 0px 3px 0px #666, 0px 4px 0px #555, 0px 5px 0px #444;

	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);

	cursor: pointer;
}

.lumpyButton:hover
{
	background-position: bottom;
	background-size: 2px;
}

/* ===== Contact Form ===== */
#contactForm
{
	width: 50%;
	padding: 60px;
	margin: 10px auto 80px auto;

	background-color: #F8F8F8;
	border: 2px solid #FFF;
	box-shadow: 0 0 10px #CCC;
}

#contactForm label
{
	display: block;
}

#contactForm > p
{
	margin: 0;
	width: 100%;
}

#contactForm input, #contactForm textarea
{
	border: none;
	margin: 10px;
	padding: 5px;

	box-shadow: 2px 2px 0px #EEE;

	background-color: #FFF;
}

.errorText
{
	color: #F00;
	margin: 0 0 10px 0;
}

.errorField
{
	/* Override #contactForm input style */
	border: 1px solid #F00 !important;
	background-color: #FFF7F7 !important;
}

#contactForm input
{
	width: 50%;
}

#contactForm textarea
{
	width: 100%;
}

#contactFormSuccess
{
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	background-color: #F4F4F4;
}

#contactFormSuccess img
{
	vertical-align: middle;
}

#contactFormSuccess span
{
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
	font-size: 30px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-shadow: 2px 2px 0 #FFF;
}

/* ===== Footer ===== */
#footer
{
	display: block;

	width: 100%;
	height: 250px;
	margin: 0;
	text-align: center;

	background-color: #F9F9F9;
}

#footerContent
{
	padding: 60px;
}

#footer p
{
	font-size: 12px;
	color: #888;
}

/* ===== Misc ===== */
.hidden
{
	display: none;
}

.disabledInput
{
	background: #AAA !important;
	cursor: default;
}